@use '../../../assets/styles/spacings' as *;

.container {
  padding: $spacing-lg;
  max-width: 1200px;
  margin: 0 auto;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-md;
  margin: $spacing-lg 0;
}

.actions {
  margin: $spacing-lg 0;
  text-align: center;
}

.empty-state {
  text-align: center;
  margin: $spacing-xxl 0;
  //color: #666;
}

h2 {
  text-align: center;
  margin-bottom: $spacing-xl;
  font-weight: 500;
}
