@use '../../../assets/styles/spacings' as *;

.candidate-form {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
  max-width: 400px;
  margin: 0 auto;
  padding-bottom: 46px;
}

.file-input-container {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
}

.file-input-container label {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}

.file-input-container input[type='file'] {
  padding: $spacing-sm;
  border-radius: $spacing-xs;
}

.error-message {
  font-size: 12px;
  color: var(--mat-sys-error);
  font-family: 'Roboto';
  padding-left: $spacing-md;
}
