@use '@angular/material' as mat;
@use './assets/styles/spacings' as *;
@use './assets/styles/theme' as theme-colors;

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: theme-colors.$primary-palette,
        tertiary: theme-colors.$tertiary-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}
